.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--white);
  box-shadow: 0 0.5px 1px var(--black-alpha-300);
  z-index: 10;
}

.navbarMobileRight {
  display: none;
}

.navbarMobileLeft {
  display: none;
}

.dropdown {
  border-color: var(--black-alpha-300);
  font-size: 0.85rem;
}

.dropdown select {
  padding: 7.5px 20px 5px 20px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  color: var(--black);
  padding-right: 3rem;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;

  font-family: "Montserrat", sans-serif;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navRightButton {
  color: var(--white);
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  cursor: pointer;

  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

.settingsButton {
  background-color: var(--secondary);
}

.logoutButton {
  background-color: var(--primary);
}

.userIcon {
  cursor: pointer;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.userLabel {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary);
    color: var(--white);
  }

  .navbarMobileRight {
    display: flex;
    align-items: center;
  }
  .navbarMobileLeft {
    display: flex;
    align-items: center;
  }

  .navRightButton,
  .navbarLeft {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .userLabel {
    display: none;
  }
}
