.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--white);
}

.contentWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.left {
  font-size: 1.2em;
  color: var(--gray-600);
}

.right {
  display: flex;
  align-items: center;
}

.cancelBtn {
  background-color: var(--danger);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelBtn:hover {
  background-color: var(--red-100);
}

.content {
  width: 100%;
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--black-alpha-700);
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  color: var(--gray-600);
  margin-bottom: var(--size-md);
}