.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}