.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
  overflow-y: auto;
}

.audioPlayerContainer {
  width: 60vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.instructions {
  width: 100%;
  color: black;
  text-align: left;
  margin-bottom: 40px;

  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
}

.audioPlayer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seekBar {
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.seekBar:hover {
  opacity: 1;
}

.seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #59DBBC;
  cursor: pointer;
  border-radius: 50%;
}

.seekBar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #59DBBC;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

/* For Firefox */
/* .seekBar::-moz-range-progress {
  background-color: #59DBBC;
  height: 2px;
} */

/* For Chrome and others */
/* .seekBar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--seek-before-width);
  height: 2px;
  background-color: #59DBBC;
  cursor: pointer;
  transform: translateY(-50%);
} */

.timeDisplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: black;

  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
}

.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.playPauseButton, .skipButton, .actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .playPauseButton {
  width: 40px;
  height: 40px;
  background-color: #59DBBC;
  border-radius: 50%;
} */

.playPauseContainer {
  display: flex;
  gap: 10px;
}

.playPauseButton {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  background-color: #59DBBC;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 30vh;

  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.submitButton:hover {
  background-color: #4DBCAA;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.modal p,
.modal h2 {
  padding-bottom: 0.5rem;
}

.modal p {
  font-size: 0.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.deleteButton, .cancelButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}

.deleteButton {
  background-color: #DF4949;
  color: white;
  margin-right: 0.5rem;
}

.deleteButton:hover {
  background-color: #ff3333;
}

.cancelButton {
  background-color: #f0f0f0;
  color: #333;
}

.cancelButton:hover {
  background-color: #e0e0e0;
}