.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

.dropdown {
  border-color: rgb(0, 0, 0, 0.5)
}

.dropdown select {
  padding: 5px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  padding-right: 3rem;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
}

.upgradeButton {
  background-color: #1C364B;
  color: white;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.userIcon {
  cursor: pointer;
}