.sidebar {
  min-width: 200px;
  background-color: #1e2640;
  color: white;
  padding-top: 1.5rem;
  height: 100%;
  overflow-y: auto;

  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sidebarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.sidebarImageItem {
  padding-top: 3px;
}

.sidebarItem span {
  flex-grow: 1;
}

.activeTab {
  background-color: #59DBBC;
}

.sidebar.open {
  left: 0;
}

.closeButton {
  display: none;
}

.bottomButtons {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    z-index: 1000;
  }

  .closeButton {
    display: block;
    position: absolute;
    top: -10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .sidebar {
    position: fixed;
    padding-top: 3rem;
    top: 0;
  }

  .bottomButtons {
    display: block;
    margin-top: auto;
  }

  .logoutButton,
  .settingsButton {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    text-align: left;

    font-family: "Montserrat", sans-serif;
  }

  .settingsButton {
    background-color: #59DBBC;
    margin-top: 10px;
  }

  .logoutButton {
    padding-left: 2rem;
  }

  .logoutButton:hover,
  .settingsButton:hover {
    opacity: 0.8;
  }
}