/* TODO:  Refactor and remove this CSS */

.uploadArea {
  width: 50vh;
  height: 50vh;
  border: 2px dashed var(--gray-200);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #f8f8ff;
  border: 2px dashed var(--gray-200);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.uploadArea img {
  margin-bottom: 10px;
}

.uploadButton {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 50vh;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.selectedFile {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #666;

  font-family: "Montserrat", sans-serif;
}

.uploadButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.uploadArea.dragging {
  border-color: var(--primary);
  background-color: rgba(89, 219, 188, 0.1);
}

.browseLink {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}

.browseLink:hover {
  color: var(--primary);
}

.h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.p {
  color: #666;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
}

.uploadArea .p {
  font-size: 1rem;
  font-weight: bold;
}

.h3 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.small {
  color: #999;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

@media (max-width: 840px) {
  .contentColumns {
    flex-direction: column;
    align-items: center;
  }

  .recordSection,
  .uploadSection {
    width: 100%;
    max-width: 300px;
  }

  .recordSection {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .uploadSection {
    margin-top: 2rem;
  }

  .divider {
    width: 80%;
    height: 1px;
    margin: 20px 0;
  }

  .uploadArea {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .recordButton {
    margin-top: 3rem;
  }

  .h2 {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2.5rem;
  }

  .p {
    font-size: 0.6rem;
    text-align: center;
  }

  .uploadArea .p {
    font-size: 0.8rem;
  }

  .small {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .contentWrapper {
    flex-direction: column;
  }

  .mainContent .h2 {
    display: none;
  }

  .mainContent .top_p {
    display: none;
  }

  .mainContent {
    padding: 20px;
  }

  .recordButton {
    width: 150px;
    height: 150px;
  }

  .h3 {
    display: none;
  }

  .uploadArea {
    display: none;
  }

  .uploadButton {
    width: 100%;
    max-width: 300px;
  }
}
