.progressBarContainer {
  position: relative;
  width: 100%;
  margin-top: 1.25vh;
}

.progressBar {
  background-color: #f0f0f0;
  height: 12.5px;
  border-radius: 10px;
  display: flex;
}

.progressSegment {
  height: 100%;
  transition: width 0.5s ease-in-out;
  position: relative;
}

.timeLabel {
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 12px;
  color: black;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

.progressSegment:last-child .timeLabel {
  left: auto;
  right: 5px;
}