.container {
  padding: 20px;
  background-color: #f8f9fa;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 3vh;
  font-weight: 600;
  color: #333;
  margin-left: 2vh;
}

.preview {
  color: #333;
  font-size: 2vh;
  margin: 0.5vh 0 3vh 2vh;
}

.select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: #f8fafc;
}

.select:focus {
  outline: none;
  border-color: #38b2ac;
  box-shadow: 0 0 0 3px rgba(56, 178, 172, 0.1);
}
