.container {
  padding: 20px;
  background-color: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.backButton, .addFieldButton {
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 2vh;
}

.backButton {
  background-color: #4a5568;
}

.backButton:hover {
  background-color: #2d3748;
}

.addFieldButton {
  background-color: var(--primary);
}

.addFieldButton:hover {
  background-color: #2f855a;
}

.title {
  font-size: 3vh;
  font-weight: 600;
  color: #333;
  margin-left: 2vh
}

.preview {
  color: #333;
  font-size: 2vh;
  margin: 0.5vh 0 3vh 2vh;
}

.editButton, .saveButton {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton:hover, .saveButton:hover {
  background-color: var(--primary);
}

.actionButton {
  cursor: pointer;
  margin-right: 4vh;
}

.actionButton:last-child {
  margin-right: 0;
}

.select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: #f8fafc;
}

.select:focus {
  outline: none;
  border-color: #38b2ac;
  box-shadow: 0 0 0 3px rgba(56, 178, 172, 0.1);
}