.viewContent {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  padding: 1rem;
}

.viewContent h1,
.viewContent h2,
.viewContent h3 {
  font-size: 2.5vh;
  font-weight: bold;
}

.viewContent p {
  margin-bottom: 1rem;
}

.viewContent ul,
.viewContent ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
