.viewContent {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  padding: 1rem;
}

.viewContent h1,
.viewContent h2,
.viewContent h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.viewContent p {
  margin-bottom: 1rem;
}

.viewContent ul,
.viewContent ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.viewContent ul {
  list-style-type: disc;
  list-style-position: inside;
}
.viewContent ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.viewContent ul ul,
.viewContent ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
.viewContent ol ol,
.viewContent ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}
