.viewContent {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  padding: 1rem;
}

.viewContent h1, .viewContent h2, .viewContent h3 {
  margin-bottom: 0.5rem;
}

.viewContent p {
  margin-bottom: 1rem;
}

.viewContent ul, .viewContent ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}